@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(/slay_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  @apply min-h-screen text-base md:text-lg text-white;
}
